<html>
<head>
  <title>Spotify Songs</title>
</head>
<body>
  
  <h1>Spotify Songs</h1>   
  <h3>A dataset containing attributes of songs from the year 2017, as sourced from Spotify's API.</h3>
  <h3>Also included is the song's favourite or not by the person who sourced the data. (Jump to the page by clicking on the song_id within Track Attributes)</h3>
  <p><a href={{ url_for('song_details') }} style="text-decoration: none; border: 3px solid grey; padding: 5px">Song Details</a> | <a href={{ url_for('track_information') }} style="text-decoration: none; border: 3px solid grey; padding: 5px">Track Attributes</a></p>

</body>
</html>